.wrapper
  = search_form_for(@q, url: search_api_recipes_path, id:"search-form",remote:"true") do |f|
    .sidebar-wrapper
      .search-sidebar
        .search-sidebar__name
          = f.select(:sorts, { 'Sort': 'id desc', 'New': 'created_at desc', 'Old': 'created_at asc', 'Most Liked': 'likes_count desc',"Most Commented": 'comments_count desc'  } , { selected: params[:q][:sorts] }, {id:'select-order'})
        .search-sidebar__box
          %span.search-sidebar__box__title
            Name
          = f.text_field :name_cont ,{placeholder: "Type a keyword",class:"search-form"}
        .search-sidebar__box
          %span.search-sidebar__box__title
            Categories
          .search-sidebar__box__list
            -@categories.each do |c|
              =f.label :categories_recipes_category_id_in, class:"search-sidebar__box__list__label",for:"q_categories_recipes_category_id_in_#{c.id}" do
                =f.check_box :categories_recipes_category_id_in, {multiple: true,class:"search-sidebar__box__list__checkbox"}, c.id, nil
                %span.search-category-name
                  =c.name
        .search-sidebar__box#ingredient-search
          %span.search-sidebar__box__title
            Ingredients
          %input{type:"text",id:"search-ingredient-form",class:"search-form"}
          #search-ingredient-result
          #search-ingredient-append
        .search-sidebar__box
          %span.search-sidebar__box__title
            REVIEW
          .search-sidebar__box__review
            %select.search-form{name:"review"}
              %option{value:""} ---
              -n=0
              -10.times do
                -n+=1
                %option{value:n}
                  more than 
                  =n
      .search-sidebar-btn-box
        =f.submit 'SEARCH',class:"search-btn"
  .search-recipe
    .search-recipe__recipes
      .search-recipe__recipes__box
        -@recipes.each do |r|  
          = render partial:"shared/recipe", locals: { r: r }