.container
  .recipe-show
    .flex-box
      .recipe-show__left
        .recipe-show__left__main
          =image_tag "#{@recipe.images.first.url}",class:"image-main"
        %ul.recipe-show__left__subs
          -@recipe.images.each do |i|
            %li.recipe-show__left__subs__image
              =image_tag "#{i.url}",class:"image-sub","data-image":i.url
      .recipe-show__right
        .recipe-show__right__title
          =@recipe.name
          %span.recipe-show__right__title__user
            Recipe by:
            =link_to user_path(@recipe.user), class:"recipe-show__right__title__user__link" do
              =@recipe.user.name
        .recipe-show__right__ingredient
          %span.recipe-title
            Ingredients
          (Serving for 
          =@recipe.serving
          )
          %ul.recipe-show__right__ingredient__all
            -@recipe.ingredients_recipes.each do |i|
              %li.recipe-show__right__ingredient__all__list
                %span.ingredient-name
                  =i.ingredient.name
                %span.ingredient-quantity
                  =i.quantity
    .recipe-show__instructions
      %span.recipe-title Instructions
      -n=1
      -@recipe.instructions.each do |i|
        .recipe-show__instructions__box
          %span.instruction-number
            = n
            \.
          .recipe-show__instructions__box__text
            =simple_format(i.text)
          -n+=1
    .recipe-show__note
      %span.recipe-title Note
      .recipe-show__note__box
        =simple_format(@recipe.text)
    .recipe-show__category
      %span.recipe-title Category
      .recipe-show__category__all
        -@recipe.categories.each do |c|
          =link_to category_path(c.id), class:"category-link" do
            =c.name
          \/
      -if @recipe.user == current_user
        .recipe-icons
          =link_to edit_recipe_path(@recipe), class:"recipe-link" do
            =fa_icon "edit", class:"icon"
          =fa_icon "trash-o", class:"icon", id:"delete-icon"
    .recipe-show__comment
      = fa_icon 'comment-o',class:"icon-grey", id:"comment-icon"
      =@recipe.comments.count
    .recipe-show__like
      = render partial:"shared/like", locals: { recipe: @recipe }
    -if user_signed_in?
      .recipe-show__comment-form
        =form_for [@recipe, @comment], method: :post do |f|
          .recipe-show__comment-form__title
            Comment
          .recipe-show__comment-form__box
            =f.text_area :text, class:"comment-form"
          .recipe-show__comment-form__review
            .recipe-show__comment-form__review__title
              Review
            -# =f.number_field :review,class:"comment-review"
            .recipe-show__comment-form__review__leaves
              -10.times do |n|
                -n+=1
                =fa_icon 'leaf', class:"icon-leaf", "data-id":n
          =f.hidden_field :review
          =f.submit 'COMMENT', class:"comment-btn"
.delete-modal
  .delete-modal__box
    Are you sure that
    %br
    %br
    you would like to 
    %br
    %br
    delete this recipe?
    .delete-modal__box__confirmation
      =link_to recipe_path(@recipe), method: :delete, class:"recipe-link" do
        YES
      .delete-modal__box__confirmation__cancel
        NO
.comment-modal
  .comment-modal__cancel
    ×
  -if @recipe.comments.present?
    -@recipe.comments.each do |c|
      .comment-modal__box
        .comment-modal__box__name
          =c.user.name
          %span.comment-modal__box__name__review
            -c.review.times do
              =fa_icon 'leaf', class:"icon"
        .comment-modal__box__text
          =c.text
        .comment-modal__box__time
          =c.created_at
  -else
    .comment-modal__no-comment
      No comments 