= render "shared/sidebar"
.container
  .user
    .user__recipes#my_recipes
      .user__recipes__box
        -@user.recipes.each do |r|  
          = render partial:"shared/recipe", locals: { r: r }
    .user__recipes#liked_recipes
      .user__recipes__box
        -@user.likes.each do |l|  
          = render partial:"shared/recipe", locals: { r: l.recipe }
    .user__recipes#commented_recipes
      .user__recipes__box
        -@commented_recipes.uniq.each do |c|
          = render partial:"shared/recipe", locals: { r: c }
    .user__restaurants#my_reviews
      -@user.restaurants.each do |r|
        = render partial:"shared/restaurant", locals: { r: r }
    .user__restaurants#commented_reviews
      -@commented_reviews.uniq.each do |r|
        = render partial:"shared/restaurant", locals: { r: r }
        