!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content:"initial-scale=1.0", content:"width=device-width", name:"viewpoint"}/
    %title Vg
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"}
  %body
    .background
    = render "shared/menu"
    = yield
